@using TrainingTask.Web.Controllers
@model IEnumerable<TrainingTask.Web.Model.ProjectListViewModel>

@{
    ViewData["Title"] = "Index";
    ViewBag.RouteLink = Context.Request.Path;
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", ProjectsController.EditAction, new {id = item.Id}) |
                @Html.ActionLink("Delete", ProjectsController.DeleteAction, new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>